:root {
    --cor-primaria: #3F65D4; 
    --cor-secundaria: #4E73DF; 
    --cor-accento: #858999; 
    --cor-branco: #FFFFFF; 
    --cor-texto02: #ECEDF1; 
}

* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; 
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif;
    background-color: var(--cor-branco);
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:  100%;
}

h1 {
    color: var(--cor-primaria);
}

.div-h{
    display: flex;
}

.div-v{
    display: flex;
    flex-direction: column;
}


header {
    background: var(--cor-texto02); 
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}


header .logo img {
    width: 200px; 
    text-transform: uppercase;
}


header nav ul {
    display: flex;
    padding: 0; 
    margin: 0;
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}


header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}


.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}


@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block; 
    }
    header nav {
        position: absolute;
        width: 300px; 
        right: 0;
        top: 70px; 
        background: #fff;
        padding: 30px;
        box-sizing: border-box;
        transition: 0.3s;
        transform: translateX(100%); 
    }
    header #nav_check:checked ~ nav {
        transform: translateX(0); 
    }
    header nav ul {
        display: block; 
        padding: 0;
        margin: 0;
    }
    header nav ul li a {
        margin: 5px 0; 
    }
}

/* Estilos para a seção exemplo */
.exemplo {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Adiciona um pouco de espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no width e height */
}

.spanjson{
    font-size: 30px;
}
/* Estilo da divex01 */
.divex01 {
    background-color: var(--cor-branco);
    height: 600px;
    width: 700px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo dos h1 dentro da divex01 */
.divex01 h1 {
    color: var(--cor-primaria);
    margin-top: 80px;
}

/* Estilo da classe .span */
.divex01 span{
    text-align: center;
    margin-top: 20px;
    width: 80%;
    color: var(--cor-accento);
    font-size: 20px;
}

.mainLogo{
    margin-bottom: 30px;
}

.div-vi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 50px; /* Arredonda os cantos */
    margin: 40px;
}

.div-hi {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.about-description02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
    max-width: 300px; 
}

.abouticon {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.abouticon img {
    margin-bottom: 0;
}

.abouticon h2 {
    margin: 0; 
}

.about-text {
    text-align: center; 
}


.about-description02 h2 {
    font-size: 1.5em;
}

.about-description02 span {
    font-size: 1em; /* Ajuste o tamanho da fonte do texto */
    line-height: 1.5; /* Ajuste a altura da linha para melhor legibilidade */
}


/* Media Query para telas menores */
@media only screen and (max-width: 1200px) {
    .exemplo {
        flex-direction: column;
        height: auto; /* Ajusta a altura para se ajustar ao conteúdo */
        padding: 40px 0; /* Ajusta o padding para uma melhor visualização */
    }

    .divex01 {
        width: 400px;
    }

    .mainLogo {
        width: 250px;
        margin-top: 20px;
    }

    .divex01 h1 {
        font-size: 20px;
    }

    .span {
        width: 300px;
    }
    .spanjson{
        font-size: 17px;
    }
}

/* Estilos para a seção about */
.about {
    overflow: hidden;
    color: #fff;
    width: 80%; 
    padding: 40px 0; 
    box-sizing: border-box; 
}

/* Estilo da about-content */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}

/* Estilo da imagem dentro da about-content */
.about-content img {
    max-width: 570px;
    width: 100%; /* Garante que a imagem se ajuste ao contêiner */
}

/* Estilo do conteúdo dentro da about-content */
.about-content div {
    flex: 1;
}

/* Estilo da descrição dentro da about-content */
.about-description h2 {
    font-size: 45px;
    margin-bottom: 24px;
    text-align: center; /* Centraliza o texto */
    color: var(--cor-secundaria);
}

.about-description p {
    font-size: 20PX;
    margin-bottom: 14px;
    line-height: 150%;
    color: var(--cor-accento);
   
}


@media screen and (max-width: 1200px) {
    .about, .about02 {
        padding: 40px 0; 
    }

    .about-content, .about-content2 {
        flex-direction: column;
    }

    .div-hi{
        flex-direction: column;
    }
    .abouticon{
        font-size: 20px;
    }
    .about-description h2 {
        font-size: 30px;
         text-align: center;
    }

    .about-description p {
        font-size: 16px;
        text-align: center;
    }

    .imgapi {
        width: 300px;
        margin-top: 20px; 
    }
}

.about02{
    overflow: hidden;
    background-color: #f6f6f6;
    width: 100%;
    padding: 40px 0; 
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about02 .container{
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}

.about02  h1{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.about-content2 div{
    flex: 1;
}

.about02 .imgapi{
    max-width: 570px;
    width: 100%;
  
}

.about-description02{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-align: center;
}
.abouticon{
  display: flex;
  align-items: center;

}
.about-description02 img{
    margin: 10px;
}




  
  .btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 99;
  }
  .btn-whatsapp img {
    max-width: 74px;
    transition: transform 0.4s;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -100px;
    background-color: #090d11;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 64px;
      margin-bottom: 30px;
    }
  }




  .haircusts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 44px 34px 44px;
  }
  
  .haircust {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
  }


  .haircusts h1{
    font-size: 50px;
  }
  .haircust img {
    width: 100%;
    max-width: 200px;
    transition: transform 0.2s;
  }
  
  .haircust img:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  
  .haircust-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #fff;
    z-index: 99;
  }
  
  .haircust-info button {
    color: #fff;
    background-color: #d94140;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
  }
  
  
.cards{
    display: flex;
}
  .card-preco{
    border: var(--cor-accento) 1px solid;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
  }

  .card-preco-icpon{
    width: 60px;
    margin-bottom: 30px;
  }

  .card-preco h2{
    font-size: 30px;
    color: var(--cor-accento);
    margin-bottom: 20px;
  }

  .btn-card{
    padding: 10px 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto02);
    border: none;
    border-radius: 5px;
    margin: 20px;
  }

  .btn-card:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-texto02);
  }

  .btn-card02{
    padding: 10px 20px;
    background-color: #1cc88a;
    color: var(--cor-texto02);
    border: none;
    border-radius: 5px;
    margin: 20px;
  }

  .btn-card02:hover{
    background-color: #18a772;
    color: var(--cor-texto02);
  }
  
  .feature-list {
    text-align: center; /* Centraliza os itens no container */
}

.feature-item {
    color: #858999; /* Cor do texto */
    border-bottom: 0.5px solid #858999; /* Linha abaixo do texto */
    padding-bottom: 5px; /* Espaço entre o texto e a linha */
    display: inline-block; /* Faz com que a linha seja a mesma largura do texto */
    margin: 10px;
}



  @media screen and (max-width: 1200px) {
    .haircusts {
      flex-direction: column;
    }
    .haircust {
      max-width: 740px;
    }
    .cards{
        flex-direction: column;
    }
  }









  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    align-items: center;
    background-color: #111827;
    color: #fff;
    width: 100%;
  }

  footer span{
    display: flex;
    align-items: center;
    margin: 20px;
  }

  footer span img{
    margin: 10px;
  }

  @media only screen and (max-width: 1200px){

    footer{

        flex-direction: column;
        height: 100px;
    }

    footer h1{
        font-size: 18px;
    }

    footer span{
        display: flex;
        align-items: center;
        margin: 0;
      }
    
      footer span img{
        width: 20px;
        margin: 5px;
      }
  }


  @media (max-width: 786px){
    body, html {
    overflow-x: hidden!important;
    }
    }