:root {
    --cor-primaria: #3F65D4; 
    --cor-secundaria: #4E73DF; 
    --cor-accento: #858999; 
    --cor-branco: #FFFFFF; 
    --cor-texto02: #ECEDF1; 
}

* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Impede rolagem horizontal */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
    font-family: Arial, sans-serif; /* Fonte padrão */
    background-color: var(--cor-branco);
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:  100%;
}

h1 {
    color: var(--cor-primaria);
}

.div-h{
    display: flex;
}

/* Estilos básicos para o header */
/* Estilo do header */
header {
    background-color: #fff; /* Cor de fundo do cabeçalho */
    color: var(--cor-texto); /* Cor do texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px; /* Espaçamento interno */
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho fique sobre outros conteúdos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar o cabeçalho */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    overflow: hidden;
}

/* Logo do cabeçalho */
header .logo img {
    width: 200px; /* Ajuste a largura da logo */
}

/* Menu de navegação */
header nav ul {
    display: flex;
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding extra */
    margin: 0; /* Remove a margem extra */
}

header nav ul li {
    margin: 0 10px; /* Espaço entre itens */
}

header nav ul li a {
    display: inline-block;
    color: var(--cor-primaria);
    padding: 5px 0;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

/* Estilos do link ativo e hover */
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: var(--cor-primaria);
}

/* Estilo do menu hamburguer */
.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

/* Media Query para telas menores */
@media screen and (max-width: 968px){
    header {
        padding: 0 50px;
        width: 100%;
        background-color: #f5f5f5;
    }
}

@media  screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header {
        padding: 0 30px;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%; /* Oculta o menu fora da tela */
        top: 70px; /* Ajuste a posição para a altura do cabeçalho */
        background: #fff;
        padding: 30px;
        box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0; /* Mostra o menu quando o checkbox está marcado */
    }
    header nav ul {
        display: block;
        padding: 0; /* Remove o padding extra */
        margin: 0; /* Remove a margem extra */
    }
    header nav ul li a {
        margin: 5px 0;
    }
}


/* Estilos para a seção exemplo */
.exemplo {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Adiciona um pouco de espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no width e height */
}

.spanjson{
    font-size: 30px;
}
/* Estilo da divex01 */
.divex01 {
    background-color: var(--cor-branco);
    height: 600px;
    width: 700px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo dos h1 dentro da divex01 */
.divex01 h1 {
    color: var(--cor-primaria);
    margin-top: 80px;
}

/* Estilo da classe .span */
.divex01 span{
    text-align: center;
    margin-top: 20px;
    width: 80%;
    color: var(--cor-accento);
    font-size: 20px;
}

.mainLogo{
    margin-bottom: 30px;
}

/* Estilo da divex02 */
.divex02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background-color: var(--cor-secundaria);
    padding: 20px;
    border-radius: 50px;
}

/* Estilo dos h1 dentro da divex02 */
.divex02 h1 {
    color: var(--cor-branco);
    margin-bottom: 80px;
}

/* Media Query para telas menores */
@media only screen and (max-width: 1200px) {
    .exemplo {
        flex-direction: column;
        height: auto; /* Ajusta a altura para se ajustar ao conteúdo */
        padding: 40px 0; /* Ajusta o padding para uma melhor visualização */
    }

    .divex01 {
        width: 400px;
    }

    .mainLogo {
        width: 250px;
        margin-top: 20px;
    }

    .divex01 h1 {
        font-size: 20px;
    }

    .span {
        width: 300px;
    }
    .spanjson{
        font-size: 15px;
    }
}

/* Estilos para a seção about */
.about {
    overflow: hidden;
    color: #fff;
    width: 80%; /* Garante que a seção ocupe a largura total */
    padding: 40px 0; /* Adiciona espaçamento superior e inferior */
    box-sizing: border-box; /* Inclui padding e border no width e height */
}

/* Estilo da about-content */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}

/* Estilo da imagem dentro da about-content */
.about-content img {
    max-width: 570px;
    width: 100%; /* Garante que a imagem se ajuste ao contêiner */
}

/* Estilo do conteúdo dentro da about-content */
.about-content div {
    flex: 1;
}

/* Estilo da descrição dentro da about-content */
.about-description h2 {
    font-size: 45px;
    margin-bottom: 24px;
    text-align: center; /* Centraliza o texto */
    color: var(--cor-secundaria);
}

.about-description p {
    font-size: 20PX;
    margin-bottom: 14px;
    line-height: 150%;
    color: var(--cor-accento);
    /* Centraliza o texto */
}

/* Media Query para telas menores */
@media screen and (max-width: 968px) {
    .about {
        padding: 40px 0; /* Mantém o padding adequado */
    }

    .about-content {
        flex-direction: column;
    }

    .about-description h2 {
        font-size: 30px; /* Reduz o tamanho da fonte */
         text-align: center;
    }

    .about-description p {
        font-size: 16px; /* Ajusta o tamanho da fonte */
    }

    .imgapi {
        width: 300px;
        margin-top: 20px; /* Ajusta o espaçamento */
    }
}

  
  .btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 99;
  }
  .btn-whatsapp img {
    max-width: 74px;
    transition: transform 0.4s;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -100px;
    background-color: #090d11;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 64px;
    }
  }














  footer{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    background-color: #111827;
    color: #fff;
    width: 100%;
  }





  @media (max-width: 786px){
    body, html {
    overflow-x: hidden!important;
    }
    }